<div class="container mt-3">
    <div class="row">
        <div class="col text-center">
            <img src="img/awewe.jpeg" alt="siapahayo" class="img-thumbnail " width="200px">
            <h1 class="display-4">Bukan Kevin</h1>
            <p class="lead">Gatai siapa | nemu di folder kesin</p>
            </div>
        </div>
    </div>
</div>