<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Detail Contact</h2>
            <% if (!detailKontak) { %>
                <div class="alert alert-danger" role="alert">
                    Data Not Found!!!!! <br>
                     <a href="/contact" class="alert-link">Back</a>
                  </div>
            <% } else { %>
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= detailKontak.nama %> </h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= detailKontak.noHP %> </h6>
                  <p class="card-text"><%= detailKontak.email %> </p>
                  <a href="/contact/delete/<%= detailKontak.nama %>" class="btn btn-danger badge" onclick="return confirm('Data will be deleted!!')">Delete</a>
                  <a href="/contact" class="card-link d-block mt-2">Back</a>
                </div>
              </div>
            <% } %>  
        </div>
    </div>
</div>